@use "../../../styles/colors";

.teamMemberCard {
  border: 1px solid colors.$border-primary;
  position: relative;
}

.info {
  padding: 20px;
}

.socialLinks {
  display: flex;
  gap: 10px;
}

.socialLink {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid colors.$border-primary;
  flex: 1 0 auto;
}

.imageCover {
  height: 440px;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: colors.$palette-purple;
    opacity: 0.15;
  }
}
