@use "../../../styles/colors";
@use "src/styles/typography";

.dialog {
  //padding: 24px;
  color: colors.$text-primary;
  width: 440px;

  border: 1px solid colors.$border-primary;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px 6px 12px 40px;
  border-bottom: 1px solid colors.$border-primary;
  @include typography.t-body-20;
  font-weight: 700;
  align-items: center;


  button {
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition-duration: 0.2s;
    color: colors.$text-secondary;

    &:hover {
      color: colors.$text-primary;
    }
  }
}

.dialogContent {
  padding: 40px 40px 0;
}

.keystoreInputLabel {
  @include typography.t-body-16;
  font-weight: 700;

  padding-bottom: 8px;
}

.amountInput {
  height: 48px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid colors.$border-primary;
  outline: 0;
  background: #363636;
  transition-duration: 0.2s;
  padding-left: 16px;
  @include typography.t-body-16;
  color: colors.$text-primary;

  &:hover,
  &:focus {
    border-color: colors.$text-primary;
  }

  &.error {
    border-color: colors.$palette-red;
  }
}

.helperText {
  color: colors.$palette-red;
  @include typography.t-body-12;
  padding-bottom: 16px;
  padding-top: 4px;
  height: 40px;
}

.buttonWrapper {
  max-width: 120px;
}

.selectedFile {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

.fileInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amountInputWrapper {
  position: relative;
}

.placeholderText {
  color: colors.$text-secondary;
}

.showPasswordButton {
  position: absolute;
}

.hiddenPart {
  padding-bottom: 40px;
}
