@use "../../../../styles/colors";
@use "../../../../styles/typography";
@use "../../../../styles/media-new";

.tokenCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 0;

  &.presale {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tokenPickButton {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  width: 100%;
  background: transparent;
  height: 38px;
  @include typography.t-body-12;

  border-left: 1px solid colors.$border-primary;
  border-right: 0;
  border-top: 1px solid colors.$border-primary;
  border-bottom: 0;

  transition-duration: 0.2s;
  outline: 0;

  &:active {
    outline: 0;
  }

  color: colors.$text-primary;
  cursor: pointer;

  &:last-child {
    border-right: 1px solid colors.$border-primary;
    border-top-right-radius: 4px;

    &:after {
      border-top-right-radius: 4px;
    }
  }

  &:first-child {
    border-top-left-radius: 4px;

    &:after {
      border-top-left-radius: 4px;
    }
  }

  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    transition-duration: 0.2s;
    z-index: 1;
    //left: 1px;
  }

  &.active {
    pointer-events: none;
    background-color: colors.$background-secondary;
  }

  &:hover {
    &:after {
      border-color: colors.$palette-green;
    }
  }

  &[disabled] {
    opacity: 0.5;
    z-index: 0;
    position: relative;
  }

  @include media-new.lg {
    height: 48px;
    @include typography.t-body-16;
  }
}

.tokenImage {
  width: 20px;
  height: 20px;

  position: relative;

  @include media-new.lg {
    width: 24px;
    height: 24px;
  }
}
