.faq {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.titles {
  grid-column-start: 1;
  grid-column-end: 4;
}

.questions {
  grid-column-start: 5;
  grid-column-end: 13;
  display: grid;
  gap: 20px;
}
