@use "../../../../styles/colors";
@use "../../../../styles/media";
@use "../../../../styles/typography";

.soyLink {
  color: colors.$palette-purple;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-shadow: 0px 0px 20px rgba(149, 118, 236, 0.50), 0px 0px 20px rgba(149, 118, 236, 0.50);
  }
}


.list {
  display: grid;
  gap: 24px;
  list-style: none;
}

.option {
  position: relative;
  padding-left: 60px;

  &:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: 4px;
    left: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath d='M15.7505 26.1665L30.8755 11.0415C31.1273 10.7915 31.4264 10.6665 31.7727 10.6665C32.119 10.6665 32.4171 10.7922 32.6671 11.0437C32.9171 11.2952 33.0421 11.5938 33.0421 11.9395C33.0421 12.2853 32.9171 12.5832 32.6671 12.8332L16.6255 28.8748C16.3755 29.1248 16.0838 29.2498 15.7505 29.2498C15.4171 29.2498 15.1255 29.1248 14.8755 28.8748L7.29212 21.2915C7.04212 21.0396 6.92407 20.7406 6.93796 20.3943C6.95184 20.048 7.08452 19.7498 7.336 19.4998C7.58744 19.2498 7.88605 19.1248 8.23183 19.1248C8.57758 19.1248 8.87546 19.2498 9.12546 19.4998L15.7505 26.1665Z' fill='%239576EC'/%3E%3C/svg%3E");
    background-size: cover;
  }

  @include media.for-mobile {
    padding-left: 48px;

    &:before {
      width: 32px;
      height: 32px;
    }
  }
}

//713

@keyframes breathing {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 0.4;
  }
}

.rightContent {
  width: 100%;
  padding-top: 126%;
  position: relative;
  margin-left: auto;
  margin-top: 200px;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72%;
    height: 72%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.4;
    background: colors.$palette-purple;
    filter: blur(200px);

    @include media.for-laptop {
      filter: blur(100px);
    }

    @include media.for-mobile {
      filter: blur(60px);
    }

    animation: breathing 4s ease-in-out alternate infinite;
  }

  .img1, .img2, .img3, .img4 {
    position: absolute;
    transition-duration: 1.5s;
    filter: brightness(40%);
  }

  .img2, .img3, .img4 {
    box-shadow: 0px 4px 74px 0px rgba(0, 0, 0, 0.65);
  }

  .img1 {
    width: 79.2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .img2 {
    width: 34.6%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  .img3 {
    width: 38.2%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 4;
  }

  .img4 {
    width: 79.5%;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 5;
  }

  &.animated {
    .img1, .img2, .img3, .img4 {
      transform: none;
      filter: brightness(100%);
    }

    .img1 {
      top: 0;
      left: 4.2%;
    }

    .img2 {
      top: 28.1%;
      left: 28%;
    }

    .img3 {
      top: 23.7%;
      right: 0;
    }

    .img4 {
      right: 8.5%;
      bottom: 0;
    }
  }


  @include media.for-tablet {
    width: 410px;
    height: 516px;
    padding: 0;
    margin-left: unset;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @include media.for-mobile {
    width: 100%;
    padding-top: 126%;
    height: unset;
  }
}

.listTitle {
  @include typography.t-body-24;
  margin-bottom: 24px;

  @include media.for-tablet {
    @include typography.t-body-20;
    margin-bottom: 12px;
  }
}

.listText {
  @include typography.t-body-20;
  color: colors.$text-secondary;

  @include media.for-tablet {
    @include typography.t-body-16;
  }
}

.soyBg {
  position: absolute;
  top: 156px;
  transform: translateX(-44%);
  z-index: -1;
  //opacity: 0.7;

  @include media.for-tablet {
    right: 0;
    transform: translateX(35%);
    width: 466px;
    top: 114px;

    svg {
      width: 100%;
    }
  }

  @include media.for-large-mobile {
    top: 250px;
  }

  @include media.for-mobile {
    top: 410px;
  }
}
