@use "../../../styles/colors";

.soyLink {
  color: colors.$palette-green;

  &:hover {
    text-decoration: underline;
  }
}

.aboutTheProject {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


.imageWrapper {
  position: relative;
  flex-shrink: 0;
}

.tokenInfoImage1,
.tokenInfoImage2 {
  position: absolute;
  z-index: 1;
}

.leftPart {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;

}

.tokenInfoImage1 {
  top: 64px;
  right: 61px;
}

.tokenInfoImage2 {
  left: 67px;
  bottom: 43px;
}

.textBlock {
  grid-column-start: 7;
  grid-column-end: 13;
  color: colors.$text-primary;
}

.infoRow {
  height: 64px;
  //padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid colors.$border-primary;
}

