@use "../../../styles/colors";
@use "../../../styles/typography";
@use "src/styles/media";
@use "src/styles/mixins";

.ecosystemProblems {
  background-color: colors.$background-secondary;
  border: 1px solid colors.$border-primary;
  position: relative;

  @include media.for-laptop {
    margin-top: 120px;
  }

  @include media.for-tablet {
    margin-top: 60px;
  }

  @include media.for-mobile {
    margin-top: 40px;
  }
}

.sliderContainer {
  display: grid;
  grid-template-columns: 1fr 60px;

  @include media.for-laptop {
    grid-template-columns: 1fr;
  }
}

.pattern1, .pattern2 {
  position: absolute;
  z-index: -1;
}

.pattern2 {
  left: -462px;
  top: 37px;
  transform: scale(-1, -1);
  animation: breathing-pattern 6s infinite linear alternate;
  opacity: 0.2;
}

.pattern1 {
  right: -626px;
  bottom: -509px;
  transform: scale(-1, -1);
  animation: breathing-pattern 6s 2s infinite linear alternate;
  opacity: 0.2;
}

.slides {
  padding: 60px;

  @media screen and (max-width: 1395px){
    padding: 35px;
  }

  @include media.for-laptop {
    padding: 0;
  }
}

.indicatorsContainer {
  border-left: 1px solid colors.$border-primary;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  @include media.for-laptop {
    flex-direction: row;
    padding: 16px 0;
    border-left: 0;
    border-top: 1px solid colors.$border-primary;
  }
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid colors.$palette-green;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
}

.activeIndicator {
  background-color: colors.$palette-green;
}

.illustration {
  min-height: 724px;
  border-radius: 20px;
  flex-grow: 1;
  flex-shrink: 0;

  @include media.for-laptop {
    height: 390px;
    min-height: unset;
  }
}

.slide {
  display: grid;
  gap: 60px;
  grid-template-columns: 589px 1fr;

  @media screen and (max-width: 1395px){
    //grid-template-columns: 530px 1fr;
    gap: 35px;
  }

  @include media.for-laptop {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.slideTextWrapper {

}

.sliderHeading {
  @include typography.t-body-40;
  color: colors.$text-primary;

  margin-bottom: 24px;
  margin-top: 16px;

  @media screen and (max-width: 1650px){
    @include typography.t-body-28;
  }

  @media screen and (max-width: 1395px){
    margin-bottom: 12px;
    margin-top: 8px;
  }
}

.slideParagraphs {
  display: grid;
  gap: 24px;

  @media screen and (max-width: 1395px){
    gap: 14px;
  }
}

.secondaryParagraph {
  @include typography.t-body-20;
  color: colors.$text-secondary;

  @media screen and (max-width: 1650px){
    @include typography.t-body-19;
  }

  @media screen and (max-width: 1525px){
    @include typography.t-body-18;
  }

  @media screen and (max-width: 1280px){
    @include typography.t-body-16;
  }

  @media screen and (max-width: 1240px){
    @include typography.t-body-14;
  }

  @include media.for-laptop {
    @include typography.t-body-16;
  }
}

.primaryParagraph {
  @include typography.t-body-24;
  color: colors.$text-primary;

  @media screen and (max-width: 1650px){
    @include typography.t-body-20;
  }

  @media screen and (max-width: 1525px){
    font-size: 19px;
    line-height: 28px;
  }

  @media screen and (max-width: 1240px){
    @include typography.t-body-17;
  }

  @include media.for-laptop {
    @include typography.t-body-18;
  }
}

.slideTextContent {
  display: grid;
  grid-template-rows: 1fr 40px;
  position: relative;

  @include media.for-laptop {
    padding: 24px 16px;
    grid-template-rows: minmax(340px, auto) 56px;
  }

  @include media.for-tablet {
    padding: 24px 16px;
    grid-template-rows: minmax(446px, auto) 56px;
  }

  @include media.for-large-mobile {
    padding: 24px 16px;
    grid-template-rows: minmax(510px, auto) 56px;
  }

  @include media.for-mobile {
    padding: 24px 16px;
    grid-template-rows: auto 56px;
  }
}

.navigation {
  display: flex;
  gap: 20px;

  @include media.for-laptop {
    margin-top: 16px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
  }

  > button {
    height: 40px;
    padding: 0 20px;
    border: 1px solid colors.$border-primary;
    color: colors.$text-primary;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition-duration: 0.2s;
    cursor: pointer;

    @include media.for-laptop {
      width: 100%;
    }

    svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      border-color: colors.$text-primary;
    }
  }
}

.slideList {
  list-style: none;
  padding-left: 50px;

  color: colors.$text-secondary;
  @include typography.t-body-20;
  li {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: -24px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: colors.$text-secondary;
      border-radius: 50%;
    }
  }
}

.tertiaryParagraph {
  @include typography.t-body-20;
  color: colors.$palette-green;
  border-left: 4px solid colors.$palette-green;
  padding-left: 20px;

  @media screen and (max-width: 1650px){
    font-size: 19px;
    line-height: 28px;
  }

  @media screen and (max-width: 1525px){
    @include typography.t-body-18;
  }

  @media screen and (max-width: 1280px){
    @include typography.t-body-16;
  }

  @include media.for-laptop {
    @include typography.t-body-16;
  }
}

.slideTest {
  position: absolute;
  opacity: 0;
  visibility: hidden;

  &.active {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}

.slide1IllustrationWrapper {
  padding: 11px 20px;
  background: linear-gradient(180deg, #140403 0%, #200803 100%);
  border: 1px solid colors.$border-primary;
  border-radius: 20px;

  @include media.for-laptop {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid colors.$border-primary;
  }
}

.slide1IllustrationHeader {
  display: flex;
  justify-content: space-between;

  @include typography.t-body-20;
  color: colors.$text-secondary;
  padding: 0 20px 11px 0;

  @include media.for-laptop {
    @include typography.t-body-14;
    padding: 6px 16px 6px 0;
  }
}

.lostCardHeader {
  display: flex;
  justify-content: space-between;
  color: colors.$text-primary;
}

.lostCard {
  padding: 16px 20px 20px;
  background-color: colors.$background-secondary;
  border-radius: 8px;

  &.active {
    position: relative;


    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      top: 0;
      left: 0;
      border: 1px solid #F33;
      box-shadow: 0px 0px 24px 8px rgba(255, 51, 51, 0.20);
    }
  }

  @include media.for-laptop {
    padding: 8px 16px;
  }
}

.lostCardName {
  @include typography.t-body-20;
  display: flex;
  align-items: center;
  gap: 8px;

  svg, img {
    width: 32px;
    height: 32px;
  }

  @include media.for-laptop {
    @include typography.t-body-14;

    svg, img {
      width: 20px;
      height: 20px;
    }
  }
}

.lostProgress {
  height: 32px;
  margin-top: 18px;
  > div {
    height: 100%;
    width: 1%;
  }

  @include media.for-laptop {
    height: 16px;
    margin-top: 8px;
  }
}

.problemCards {
  display: grid;
  gap: 8px;

  @include media.for-laptop {
    gap: 4px;
  }
}

.lostValue {
  font-weight: 700;
  @include typography.t-body-20;

  @include media.for-laptop {
    @include typography.t-body-14;
  }
}

.approveProblemsWrapper {
  border: 1px solid colors.$border-primary;
  background-image: url("/images/approve-prob.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  border-radius: 20px;

  @include media.for-laptop {
    border-radius: 0;
    background-image: url("/images/approve-prob-tablet.png");
  }
}

.attentionMark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-image: url("/images/approve-attention.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0;
  transition-duration: 0.8s;
  transition-delay: 0.2s;

  &.animate {
    opacity: 1;
  }

  @include media.for-laptop {
    border-radius: 0;
    background-image: url("/images/approve-attention-tablet.png");
  }
}

.approveProblemsFooter {
  border-top: 1px solid var(--border-normal, #5A5A5A);
  background: var(--color-card, rgba(0, 0, 0, 0.50));

  /* 2 */
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  display: flex;
  gap: 12px;
  padding: 20px;

  svg {
    flex-shrink: 0;
  }

  @include typography.t-body-16;
  color: colors.$text-primary;

  @include media.for-laptop {
    border-radius: 0;
    border-bottom: 1px solid var(--border-normal, #5A5A5A);
    left: 1px;
    right: 1px;
  }
}

.erc20Problems {
  display: grid;
  grid-template-columns: 277fr 288fr;
  gap: 14px;
  height: 100%;
  overflow: hidden;

  img {
    display: block;
  }

  @include media.for-laptop {
    width: 288px;
    grid-template-columns: auto auto;
    margin: 0 auto;
    padding: 20px 0;

    gap: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.erc20ProblemsLeftColumn {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include media.for-laptop {
    gap: 10px;
  }
}

.erc20ProblemsGreen1 {
  opacity: 0;
  transition: opacity ease-out 0.8s;

  &.animate {
    opacity: 1;
  }
}

.erc20ProblemsGreen2 {
  opacity: 0;
  transition: opacity 0.8s ease-out 0.2s;

  &.animate {
    opacity: 1;
  }
}

.erc20ProblemsRed {
  opacity: 0;
  transition: opacity 0.8s ease-out 0.4s;

  &.animate {
    opacity: 1;
  }

  img {
    width: 100%;

  }
}

.secureErc20 {
  display: grid;
  gap: 14px;
  grid-template-columns: 288fr 277fr;

  height: 100%;
  overflow: hidden;

  img {
    display: block;
  }

  @include media.for-laptop {
    width: 288px;
    grid-template-columns: auto auto;
    margin: 0 auto;
    padding: 20px 0;

    gap: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.secureErc20Green1 {
  opacity: 0;
  transition: opacity 0.8s;

  &.animated {
    opacity: 1;
  }
}

.secureErc20Green2 {
  width: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-out 0.2s;

  &.animated {
    opacity: 1;
  }
}

.secureErc20Red {
  width: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-out 0.4s;

  &.animated {
    opacity: 1;
  }
}

.lastSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include media.for-laptop {
    padding: 30px 0 0 ;
    svg {
      height: 100%;
    }
  }
}

.gasOptimisationIllustration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  border-radius: 20px;
  border: 1px solid #5B5B5B;
  background: linear-gradient(180deg, #0E0314 0%, #120320 100%);

  svg {
    z-index: 2;
  }

  @include media.for-laptop {
    width: 100%;
    padding: 60px 0 30px;
    border-radius: 0;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.gasOptimisationIllustrationCircle {
  position: absolute;
  width: 303px;
  height: 303px;
  border-radius: 50%;
  opacity: 0.7;
  background: var(--color-purple, #9576EC);
  filter: blur(120px);

  @include media.for-tablet {
    width: 200px;
    height: 200px;
  }
}


.smallCardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  padding-top: 34px;

  &.safe {
    color: #3BD171;

    .smallCardHeaderBorder {
      background-color: #3BD171;
    }
  }

  &.unsafe {
    color: #D13B3B;

    .smallCardHeaderBorder {
      background-color: #D13B3B;
    }
  }

  .text {
    font-size: 19px;
    font-weight: 600;
    line-height: 15.3px;
    letter-spacing: -0.38px;
  }
}

.smallCardHeaderBorder {
  height: 1px;
  width: 86px;
  margin-top: 4px;
}

.text1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.3px; /* 109.286% */
  letter-spacing: -0.42px;
  color: colors.$text-primary;
}

.text2 {
  font-size: 13px;
  font-weight: 600;
  line-height: 14.025px;
  letter-spacing: -0.26px;
  color: colors.$text-primary;
  position: relative;
  top: 7px;
  text-align: left;
  width: 54px;
}
