@use "../../../../styles/colors";
@use "../../../../styles/media-new";
@use "../../../../styles/typography";

.tokenCard {
  padding: 14px 16px 8px;
  background-color: colors.$background-secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid colors.$border-primary;
  border-radius: 4px;

  &.withPicker {
    border-radius: 0 0 4px 4px;
  }

  @include media-new.lg {
    padding: 12px 20px 10px;
  }
}

.inputWrapper {
  display: grid;
  gap: 4px;

  h2 {
    font-weight: 400;
    color: colors.$text-primary;

    @include typography.t-body-12;

    @include media-new.lg {
      @include typography.t-body-16;
    }
  }
}

.input {
  height: 28px;
  border: 0;
  background-color: transparent;
  color: colors.$text-primary;
  @include typography.t-body-16;

  &:active,
  &:focus {
    border: 0;
    outline: 0;
  }

  &::placeholder {
    color: colors.$text-secondary;
  }

  &.loading {
    color: colors.$text-primary;
  }

  @include media-new.lg {
    @include typography.t-body-18;
    height: 36px;
  }
}

.imageWrapper {
  position: relative;
  width: 38px;
  height: 38px;

  @include media-new.lg {
    width: 50px;
    height: 50px;
  }
}

.balance {
  text-align: right;
  color: colors.$text-secondary;
  @include typography.t-body-12;
}

.balancePlaceholder {
  height: 16px;
}
