@use "../../../../styles/colors";
@use "../../../../styles/typography";
@use "../../../../styles/media";
@use "../../../../styles/mixins";

.text {
  color: colors.$text-secondary;

  @include typography.t-body-20;

  @include media.for-mobile {
    @include typography.t-body-16;
  }
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rightContent {
  padding-top: 200px;


  svg {
    width: 100%;
  }

  @include media.for-tablet {
    padding-top: 40px;
    padding-bottom: 20px;

    svg {
      max-width: 410px;
      height: unset;
    }
  }
}

.buttonsWrapper {
  display: flex;
  gap: 12px;
  margin-top: 40px;
  width: 100%;

  @include media.for-large-mobile {
    flex-direction: column;
  }

  a {
    display: block;
    width: 50%;
    cursor: pointer;

    @include media.for-mobile {
      width: 100%;
      max-width: unset;
    }
  }

  button {
    padding: 0 20px 0 24px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 1px solid var(--color-text-primary, #F5FFF9);
    background: transparent;
    transition-duration: 0.2s;
    cursor: pointer;

    @include typography.t-body-18;
    color: colors.$text-primary;

    &:hover {
      border-color: colors.$palette-green;
      color: colors.$palette-green;
    }

    @include media.for-laptop {
      @include typography.t-body-16;
    }

    @include media.for-tablet {
      height: 48px;
      padding: 0 20px 0 24px;
    }
  }
}

.openSrcInfo {
  border-radius: 4px;
  background: colors.$background-secondary;
  padding: 12px 20px;
  color: colors.$text-primary;
  display: flex;
  gap: 10px;
  text-align: left;
  border-left: 4px solid colors.$palette-green;
  margin-top: 20px;

  @include typography.t-body-20;

  @include media.for-tablet {
    @include typography.t-body-16;
  }
}

.srcIcon {
  display: block;
  height: 32px;
  width: 32px;
  padding-top: 2px;
  flex-shrink: 0;

  @include media.for-tablet {
    height: 24px;
    width: 24px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.pattern {
  position: absolute;
  top: 67px;
  right: -1000px;
  z-index: -1;
  animation: breathing-pattern 6s infinite linear alternate;
  opacity: 0.2;
}
