@use "../../../../styles/colors";
@use "../../../../styles/typography";
@use "../../../../styles/media";

.transactionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: colors.$text-primary;
  gap: 30px;

  @include media.for-mobile {
    @include typography.t-body-14;
  }

  &.withWrapper {
    height: 48px;
    align-items: center;
    padding: 0 20px;
    background: colors.$background-secondary;
    border-radius: 4px;
    gap: 30px;
    border: 1px solid #393939;
  }
}

.transactionIcons {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    color: colors.$text-primary;
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    transition: color 0.3s;

    &:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
    }

    &:hover {
      color: colors.$palette-green;
    }
  }

  span {
    width: 24px;
    height: 24px;
    color: colors.$palette-green;

    &.error {
      color: colors.$palette-red;
    }
  }
}

.labelInputWrapper {
  display: grid;
  gap: 4px;
}

.speedUp {
  border-radius: var(--corner-large, 20px);
  background: var(--color-bcg-green, #0F1E15);

  border: 1px solid transparent;
  color: colors.$palette-green;
  padding: 0 8px;
  height: 28px;
  cursor: pointer;
  transition-duration: 0.2s;
  white-space: nowrap;

  &:hover {
    border: 1px solid colors.$palette-green;
  }

  @include typography.t-body-16;
}

.queued {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--corner-large, 20px);
  background: var(--color-bcg-green, #1F170A);

  border: 1px solid transparent;
  color: colors.$palette-orange;
  padding: 0 8px;
  height: 28px;
  @include typography.t-body-16;
}
