@use "../../../styles/colors";
@use "../../../styles/media-new";
@use "../../../styles/media";
@use "../../../styles/typography";

.specialOffer {
  @include typography.t-body-16;
  color: colors.$palette-purple;
  margin-bottom: 4px;
  text-align: center;
}

.ratio {
  color: var(--color-white, #F7FFE4);
  text-align: center;
  margin-bottom: 16px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    height: 1px;
    background: colors.$border-primary;
    width: calc(100% + 80px);
    left: -40px;
    top: 50%;
    transform: translateY(-50%);

    @include media.for-laptop {
      width: calc(100% + 32px);
      left: -16px;
    }
  }

  span {
    background-color: colors.$background-primary;
    position: relative;
    z-index: 2;
    padding: 0 20px;
  }

  @include typography.t-body-16;

  @include media-new.lg {
    margin-bottom: 24px;
  }
}

.waitingContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.gasSettings {
  padding: 12px 20px 12px;
  background: colors.$background-secondary;
}

.gasHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.gasTitle {
  color: colors.$text-secondary;
  display: flex;
  align-items: center;
}

.gasExpand {
  color: colors.$text-primary;
  display: flex;
  gap: 4px;
  align-items: center;

  svg {
    transition-duration: 0.3s;
    color: colors.$text-secondary;
    transform-origin: center;
    //transform: rotate(90deg);
  }
}

.fields {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
  color: colors.$text-primary;
  padding-top: 12px;
}

.gasInput {
  border-radius: 4px;
  border: 1px solid colors.$border-primary;
  background: var(--color-input, #363636);
  margin-top: 4px;
  width: 100%;
  height: 48px;
  color: colors.$text-primary;

  padding-left: 16px;

  &:active,
  &:focus {
    outline: 0;
  }

  &:focus {
    border-color: colors.$text-primary;
  }
}

.gasLabel {
  @include typography.t-body-16;
  font-weight: 700;

  display: flex;
  gap: 4px;
  align-items: center;
}

.devMode {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  color: colors.$text-primary;
  margin-bottom: 20px;
  align-items: center;
}

.editGasButton {
  background: transparent;
  color: colors.$palette-green;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin-left: 4px;

  @include typography.t-body-16;
}

.recentTransactionsField {
  color: colors.$text-secondary;
  @include typography.t-body-16;
  display: flex;
  justify-content: space-between;
  height: 48px;
  margin-top: 20px;
  padding: 0 20px;
  background-color: colors.$background-secondary;

  > div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.textButton {
  background-color: transparent;
  font-size: inherit;
  border: 0;
  outline: 0;
  color: colors.$palette-green;
  cursor: pointer;
  display: inline;
  padding: 0;
}

.newIndicator {
  position: absolute;
  border: 1px solid colors.$background-secondary;
  background: colors.$palette-red;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  top: 2px;
  right: 1px;
}

.recentTransactionsIcon {
  position: relative;
  width: 24px;
  height: 24px;
}

.customTag {
  padding: 0 8px;
  border: 1px solid colors.$palette-blue;
  color: colors.$palette-blue;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  margin-left: 12px;

  @include typography.t-body-16;
}

.unreadCounter {
  color: colors.$text-primary;
  background: colors.$palette-red;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  margin-left: 8px;
  @include typography.t-body-16;
  border-radius: 4px;
}
