@use "../../../styles/colors";
@use "../../../styles/media-new";
@use "../../../styles/media";
@use "../../../styles/typography";

.raised {
  color: #FFF;
  text-align: center;
  margin: 4px 0 18px;

  @include typography.t-body-16;
}

.specialOffer {
  @include typography.t-body-16;
  color: colors.$palette-purple;
  margin-bottom: 4px;
  text-align: center;
}

.progressBar {
  height: 30px;
  width: 100%;
  background-color: colors.$background-primary;
  overflow: hidden;
  box-shadow: 2px 0 10px inset rgba(0, 0, 0, 0.2);
  position: relative;
  border: 1px solid colors.$border-primary;

}

.bar {
  transition-duration: 0.3s;
  height: 100%;
  background-color: #A789FF;
  background-image: linear-gradient(-60deg, #946FFF 25%, transparent 25%, transparent 50%, #946FFF 50%, #946FFF 75%, transparent 75%, transparent);
  background-size: 21px 36px;
  box-shadow: 2px 0 10px inset rgba(0, 0, 0, 0.2);
}

.ratio {
  color: var(--color-white, #F7FFE4);
  text-align: center;
  margin-bottom: 16px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    height: 1px;
    background: colors.$border-primary;
    width: calc(100% + 80px);
    left: -40px;
    top: 50%;
    transform: translateY(-50%);

    @include media.for-laptop {
      width: calc(100% + 32px);
      left: -16px;
    }
  }

  span {
    background-color: colors.$background-primary;
    position: relative;
    z-index: 2;
    padding: 0 20px;
  }

  @include typography.t-body-16;

  @include media-new.lg {
    margin-bottom: 24px;
  }
}

.tokenCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid colors.$border-primary;
  border-bottom: 0;

  &.dev {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tokenPickButton {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;

  background: transparent;
  height: 38px;
  @include typography.t-body-12;
  border: 0;
  border-right: 1px solid colors.$border-primary;

  transition-duration: 0.2s;
  outline: 0;

  color: colors.$text-primary;
  cursor: pointer;

  &:last-child {
    border-right: 0;
  }

  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    transition-duration: 0.2s;
  }

  &.active {
    pointer-events: none;
    background-color: colors.$background-secondary;
  }

  &:hover {
    &:after {
      border-color: colors.$palette-green;
    }
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  @include media-new.lg {
    height: 48px;
    @include typography.t-body-16;
  }
}

.tokenImage {
  width: 20px;
  height: 20px;

  position: relative;

  @include media-new.lg {
    width: 24px;
    height: 24px;
  }
}

.waitingContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.gasSettings {
  padding: 12px 20px 12px;
  background: colors.$background-secondary;
}

.gasHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.gasTitle {
  color: colors.$text-secondary;
}

.gasExpand {
  color: colors.$text-primary;
  display: flex;
  gap: 4px;
  align-items: center;

  svg {
    transition-duration: 0.3s;
    color: colors.$text-secondary;
    transform-origin: center;
    //transform: rotate(90deg);
  }
}

.fields {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
  color: colors.$text-primary;
  padding-top: 12px;
}

.gasInput {
  border-radius: 4px;
  border: 1px solid colors.$border-primary;
  background: var(--color-input, #363636);
  margin-top: 4px;
  width: 100%;
  height: 48px;
  color: colors.$text-primary;

  padding-left: 16px;

  &:active,
  &:focus {
    outline: 0;
  }

  &:focus {
    border-color: colors.$text-primary;
  }
}

.gasLabel {
  @include typography.t-body-16;
  font-weight: 700;

  display: flex;
  gap: 4px;
  align-items: center;
}

.devMode {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  color: colors.$text-primary;
  margin-bottom: 20px;
  align-items: center;
}

.editGasButton {
  background: transparent;
  color: colors.$palette-green;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin-left: 4px;

  @include typography.t-body-16;
}
