@use "src/styles/colors";

.questionCollapse {
  padding: 20px 40px 20px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
  border: 1px solid colors.$border-primary;
}

.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  padding: 0;
  background: transparent;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: 0;
  height: 24px;

  &:after {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  svg {
    transition-duration: 0.2s;
    color: #B2B2B2;
  }

  &:hover {
    svg {
      color: colors.$text-primary;
    }
  }

  &.opened {
    svg {
      transform: rotate(-180deg);
    }
  }
}
