@use "src/styles/colors";
@use "src/styles/typography";
@use "src/styles/media";

.text {
  color: colors.$text-secondary;

  @include typography.t-body-20;

  @include media.for-desktop {
    @include typography.t-body-18;
  }

  @include media.for-mobile {
    @include typography.t-body-16;
  }
}

.paragraphs {
  display: grid;
  gap: 20px;

  @include media.for-desktop {
    gap: 12px;
  }

  @include media.for-mobile {
    gap: 8px;
  }
}

.problemsList {
  list-style: none;
  margin-top: 24px;

  @include media.for-mobile {
    margin-top: 20px;
  }
}

.problemItemLink {
  padding: 14px 0;
  color: colors.$text-secondary;
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 24px;

  @include typography.t-body-16;

  @include media.for-mobile {
    @include typography.t-body-14;
  }
  transition-duration: 0.2s;

  svg {
    margin-top: 4px;
  }

  &:hover {
    color: colors.$palette-green;
  }
}

.problemItem {
  border-bottom: 1px solid colors.$border-primary;
}

.rightContent {
  padding-top: 200px;
  display: flex;
  justify-content: flex-end;

  img {
    max-width: 100%;
    height: auto;

    transform: scale(1.2);
  }

  @include media.for-tablet {
    padding-top: 20px;
    justify-content: flex-start;

    img {
      max-width: 410px;
    }
  }

  @include media.for-mobile {
    padding-top: 40px;

    img {
      width: 100%;
    }
  }
}

.subheading {
  @include typography.t-body-24;
  color: colors.$text-primary;
  margin-bottom: 24px;
  font-weight: 600;

  @include media.for-tablet {
    @include typography.t-body-20;
  }
}
