@use "../../../styles/colors";
@use "../../../styles/typography";
@use "src/styles/media";
@use "src/styles/mixins";

.articleInfo {
  margin: 0 auto;
  max-width: 870px;
}

.competitorsTableWrapper {
  width: 100%;
  position: relative;

  @include media.for-laptop {
    padding: 0;
    overflow-y: scroll;
  }
}

.competitorsTable {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;

  @include media.for-laptop {
    display: inline-grid;
    grid-template-columns: 126px 259px 201px 160px 150px 260px;
    margin-right: 16px;
    margin-left: 16px;
  }
}

.cell {
  display: flex;
  border: 1px solid colors.$border-primary;
  padding: 14px 20px;
  background-color: colors.$background-primary;

  @include typography.t-body-20;
  color: colors.$text-secondary;

  &.centered {
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  &.light {
    background-color: #1D1C1E;
  }

  @include media.for-laptop {
    @include typography.t-body-16;
  }
}

.dexBorder {
  position: absolute;
  height: 100%;
  left: calc(100% / 6 - 1px);
  width: calc(100% / 6 + 2px);
  border: 2px solid colors.$palette-blue;
  box-shadow: 0;
  //opacity: 0;
  transition-duration: 0.4s;


  @include media.for-laptop {
    left: 125px;
    width: 261px;
  }

  &.animate {
    box-shadow: 0px 0px 54px 20px rgba(34, 174, 252, 0.30);

  }
}

.dexColumn {
  //border: 2px solid var(--color-primary, #3BD171);
  box-shadow: 0 0 54px 20px rgba(59, 209, 113, 0.30);
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 2px solid colors.$palette-green;
    top: -1px;
    left: -1px;
  }
}

.pattern {
  right: -635px;
  z-index: -1;
  position: absolute;
  top: -146px;
  animation: breathing-pattern 6s infinite linear alternate;
  opacity: 0.2;
}
