$palette-purple: #9576EC;
$palette-green: #3BD171;
$palette-blue: #22AEFC;
$palette-red: #D13B3B;
$palette-orange: #D38932;
$palette-white: #FFFFFF;

$palette-green__hover: #2DBF61;

$border-primary: #5A5A5A;

$text-primary: #F7FFE4;
$text-secondary: #B2B2B2;

$background-primary: #010101;
$background-secondary: #1D1C1E;


