@use "typography";
@use "media-new";
@use "colors";

@use "svg-animations";

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;

  @include media-new.md {
    //max-width: 834px;
    padding: 0 32px;
  }

  @include media-new.lg {
    max-width: 1320px;
  }

  @include media-new.xl {
    max-width: 1682px;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

.bold {
  font-weight: 700;
}

.primary-color {
  color: colors.$text-primary;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}
