@use "src/styles/colors";

.headerContent {
  height: 109px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header {
  //border-bottom: 1px solid #3F3F3F;
  position: relative;
}

.buySection {
  position: relative;
  overflow: hidden;
  margin-bottom: 120px;
}

.bottomLine {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0);



    //&:after {
  //  content: "";
  //  position: absolute;
  //  right: 100%;
  //  bottom: -1px;
  //  width: 100%;
  //  height: 1px;
  //  background-color: colors.$border-primary;
  //
  //}
}

.videoWrapper {
  position: absolute;
  right: -300px;
  top: 88px;
  width: 1850.011px;
  height: 1267.073px;
  transform: rotate(-15deg);
  z-index: -1;
  transform-origin: left top;


  video {
    width: 100%;
    height: 100%;
  }
}

.logoAndNav {
  display: flex;
  align-items: center;
  gap: 53px;
}

.navList {
  display: flex;
  align-items: center;
  gap: 24px;

  li {
    color: #FFF;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px; /* 200% */
    text-transform: uppercase;
    cursor: pointer;
  }
}

.settings {
  display: flex;
  gap: 21px;
  height: 60px;
  position: absolute;
  right: 15px;
  top: 0;
}

.langButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;
  margin-left: 39px;
  color: #FFF;
  height: 32px;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.themeButton {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.buyERC223 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 140px;
  margin-top: 40px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 646px;

  h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
  }

  h2 {
    color: var(--color-text-primary, #F7FFE4);
    /* 20/Bold */
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
  }

  p {
    color: colors.$text-secondary
  }
}

.subheading {
  font-size: 20px;
  line-height: 40px;
}

.paragraph {
  font-size: 16px;
  line-height: 32px;
}

.formToBuy {
  background: var(--card, rgba(0, 0, 0, 0.50));
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);  padding: 28px 40px 40px 40px;
  width: 534px;
  border: 1px solid colors.$border-primary;
  position: relative;
  top: -20px;
}

.externalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.erc223Address {
  font-size: 18px;
  line-height: 32px;
  color: #FFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='650' height='169' viewBox='0 0 650 169' fill='none'%3E%3Cpath d='M1 169C1 142 1 85.5 1 58.5L28 42.5H29.5H622L649 26.5V0' stroke='url(%23paint0_linear_185_13632)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_185_13632' x1='649' y1='0' x2='617.137' y2='248.123' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235B5B5B'/%3E%3Cstop offset='1' stop-color='%23282828'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  padding: 55px 40px;
  position: relative;
  top: -19px;
}

.howToBuy {
  padding: 24px 40px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='647' height='44' viewBox='0 0 647 44' fill='none'%3E%3Cpath d='M1 43.5V17L28 1H647' stroke='url(%23paint0_linear_181_13616)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_181_13616' x1='647' y1='43.5' x2='644.947' y2='-19.8603' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235B5B5B'/%3E%3Cstop offset='1' stop-color='%23282828'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.connectWalletButton {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #F4F4F4;
  background: #FFF;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}

.counter {
  display: flex;
  justify-content: space-between;
}

.doubleDots {
  width: 20px;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.counterNumber {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  display: flex;
  justify-content: center;
  width: 86.5px;
}

.counterLabels {
  display: flex;
  gap: 36px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.counterTimeLabel {
  width: 86.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFF;
}

.raised {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  margin: 12px 0;
}

.purple {
  color: colors.$palette-purple;
}

.green {
  color: colors.$palette-green;
}

.progressBar {
  height: 30px;
  width: 100%;
  background-color: colors.$background-primary;
  overflow: hidden;
  box-shadow: 2px 0 10px inset rgba(0,0,0,0.2);
  position: relative;
  border: 1px solid colors.$border-primary;
}

.bar {
  width: 50%;
  height: 100%;
  background-color: #A789FF;
  background-image: linear-gradient( -60deg, #946FFF 25%, transparent 25%, transparent 50%, #946FFF 50%, #946FFF 75%, transparent 75%, transparent );
  background-size: 21px 36px;
  box-shadow: 2px 0 10px inset rgba(0,0,0,0.2);
}



.spacer12 {
  height: 12px;
}

.spacer20 {
  height: 20px;
}

.footer {
  border-top: 1px solid colors.$border-primary;
}

.bottomFooter {
  border-top: 1px solid colors.$border-primary;
}

.bottomFooterContent {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.footerLinks {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.leftLinks {
  display: flex;
  gap: 160px;
}

.footerLinkGroupTitle {
  color: colors.$text-secondary;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
}

.footerLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  color: colors.$text-primary;

  &:hover {
    text-decoration: underline;
  }
}

.linkColumn {
  display: grid;
  gap: 12px;
}

.rightLinks {
  text-align: right;

}

.address {
  font-size: 16px;
  line-height: 28px;
  color: colors.$text-primary;

  &:hover {
    text-decoration: underline;
  }
}

.gradientBlock {
  height: 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(90deg, #3BD171 0%, #3BD171 40.78%, #9576EC 59.31%, #3BD171 75.58%, #9576EC 93.60%);
}

.gradientBlocks {
  overflow: hidden;
  padding: 0;
}

.gradientBlock2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  filter: blur(60px);
  height: 100%;
}

.greenGradient {
  background: colors.$palette-green;
  filter: blur(72px);
}

.gradientBlock3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
}

.purpleGradient {
  background: colors.$palette-purple;
  filter: blur(72px);
}

.bottomGradients {
  height: 180px;
  position: relative;
}
