@use "../../../../styles/colors";
@use "../../../../styles/typography";
@use "../../../../styles/media";
@use "../../../../styles/mixins";

.chart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1000px;

  > div {
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  @include media.for-tablet {
    height: 400px;
  }

  @include media.for-mobile {
    height: 200px;
  }
}

.chartWrapper {
  margin-top: 270px;
  height: 10px;
  position: relative;

  @include media.for-tablet {
    margin-top: 350px;
  }

  @include media.for-mobile {
    margin-top: 180px;
  }
}

.articleInfo {
  max-width: 646px;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes grow-column-1 {
  from {
    height: 1%;
  }

  to {
    height: 3%;
  }
}

@keyframes grow-column-2 {
  from {
    height: 1%;
  }

  to {
    height: 9.5%;
  }
}

@keyframes grow-column-3 {
  from {
    height: 1%;
  }

  to {
    height: 9.5%;
  }
}

@keyframes grow-column-4 {
  from {
    height: 1%;
  }

  to {
    height: 10%;
  }
}

@keyframes grow-column-5 {
  from {
    height: 1%;
  }

  to {
    height: 68%;
  }
}

.chartColumn1, .chartColumn2,
.chartColumn3, .chartColumn4, .chartColumn5 {
  height: 10px;
  position: relative;
}

.chartColumn1 {
  background-color: #C5B1FF;

  &.withAnimation {
    animation: grow-column-1 ease-in-out 1s forwards;
  }
}

.chartColumn2 {
  background-color: #B196FF;

  &.withAnimation {
    animation: grow-column-2 ease-in-out 1s forwards;
  }
}

.chartColumn3 {
  background-color: #946FFF;

  &.withAnimation {
    animation: grow-column-3 ease-in-out 1s forwards;
  }
}

.chartColumn4 {
  background-color: #8358FF;

  &.withAnimation {
    animation: grow-column-4 ease-in-out 1s forwards;
  }
}

.chartColumn5 {
  background-color: #7649F8;

  &.withAnimation {
    animation: grow-column-5 ease-in-out 1s forwards;
  }
}

.labels {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @media screen and (max-width: 725px) {
    grid-template-columns: 1fr;
    gap: 8px;
    margin-top: 24px;
  }
}

.columnLabel {
  display: grid;
  gap: 8px;
  grid-template-rows: 1fr auto;

  @include media.for-laptop {
    gap: 4px;
  }

  @media screen and (max-width: 725px) {
    gap: 0;
    background-color: colors.$background-secondary;
    border-radius: 4px;
    padding: 8px 16px;

    &:nth-child(1) {
      border-left: 4px solid #E5DCFF;
    }

    &:nth-child(2) {
      border-left: 4px solid #B196FF;
    }

    &:nth-child(3) {
      border-left: 4px solid #946FFF;
    }

    &:nth-child(4) {
      border-left: 4px solid #8358FF;
    }

    &:nth-child(5) {
      border-left: 4px solid #7649F8;
    }
  }
}

.labelPercentage {
  display: none;

  @media screen and (max-width: 725px) {
    display: block;
    @include typography.t-body-16;
    font-weight: 500;
  }
}

.percentage {
  position: absolute;
  z-index: 2;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  color: colors.$text-primary;
  @include typography.t-body-40;

  @include media.for-laptop {
    top: -40px;
    @include typography.t-body-20;
  }

  @include media.for-mobile {
    top: -30px;
    @include typography.t-body-16;
  }
}

.paragraphs {
  display: grid;
  gap: 20px;

  @include media.for-tablet {
    gap: 8px;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid colors.$border-primary;
  border-top: 1px solid colors.$border-primary;
}

.totalText {
  display: flex;
  flex-direction: column;

  @include typography.t-body-20;

  @include media.for-tablet {
    @include typography.t-body-12;
  }
}

.text {
  color: colors.$text-secondary;

  @include typography.t-body-20;

  @include media.for-desktop {
    @include typography.t-body-18;
  }

  @include media.for-mobile {
    @include typography.t-body-16;
  }
}

.totalValue {
  @include typography.t-body-40;

  @include media.for-laptop {
    @include typography.t-body-24;
  }
}

.labelText {
  @include typography.t-body-18;
  color: colors.$text-secondary;
  display: block;
  padding-right: 10px;

  @include media.for-desktop {
    @include typography.t-body-16;
  }

  @include media.for-laptop {
    @include typography.t-body-14;
  }

  @include media.for-tablet {
    @include typography.t-body-12;
  }

  @media screen and (max-width: 725px) {
    @include typography.t-body-14;
    color: colors.$text-primary;
  }
}

.labelValue {
  @include typography.t-body-18;
  color: colors.$text-primary;
  font-weight: 700;

  @include media.for-desktop {
    @include typography.t-body-16;
  }

  @include media.for-laptop {
    @include typography.t-body-14;
  }

  @include media.for-tablet {
    @include typography.t-body-12;
  }

  @media screen and (max-width: 725px) {
    display: flex;
    justify-content: space-between;
    @include typography.t-body-14;
    font-weight: 400;
    color: colors.$text-secondary;
  }
}

.pattern {
  position: absolute;
  right: -819px;
  bottom: 105px;
  z-index: -1;
  transform: scale(-1, -1);
  animation: breathing-pattern 6s infinite linear alternate;
  opacity: 0.2;
}
