@use "src/styles/colors";

.input {
  border-radius: 4px;
  border: 1px solid colors.$border-primary;
  background: colors.$background-primary;
  font-size: 16px;
  color: colors.$text-primary;
  height: 48px;
  padding-left: 16px;
  width: 100%;

  &:hover {
    border-color: colors.$palette-green;
  }

  &:focus {
    border-color: colors.$palette-green;
    outline: 0;
  }

  &.error {
    border-color: colors.$palette-red;
  }

  &.warning {
    border-color: colors.$palette-orange;
  }
}
