@use "src/styles/colors";
@use "src/styles/media";
@use "src/styles/media-new";
@use "src/styles/typography";

.gridWrapper {
  display: grid;
  grid-template-areas: "l l l l . r r r";
  grid-template-columns: repeat(8, 1fr);
  padding-top: 60px;
}

.bannerText {
  grid-area: l;
}

.bannerForm {
  grid-area: r;
  display: flex;
  align-items: center;
  position: relative;
}

.purple {
  color: colors.$palette-purple;
}

.green {
  color: colors.$palette-green;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;

  p {
    color: colors.$text-secondary
  }
}

.mainHeader {
  color: colors.$text-primary;
  font-size: 29px;
  line-height: 44px;
  font-weight: 700;

  margin-bottom: 8px;

  @include media-new.lg {
    @include typography.t-body-48;
  }


  @include media-new.xxl {
    font-size: 58px;
    line-height: 80px;
  }
}

.subheading {
  @include typography.t-body-16;

  color: colors.$text-secondary;
  margin-bottom: 16px;
}

.paragraph {
  position: relative;
  z-index: 4;
  margin-top: 8px;
  color: colors.$text-secondary;

  @include typography.t-body-20;

  @include media.for-laptop {
    @include typography.t-body-12;
  }
}

.whitePaperButtonWrapper {
  width: 176px;
  margin-bottom: 52px;
}

.externalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.blockWithNeonWrapper {
  display: grid;
  grid-template-columns: 108px 1fr;
}

.neonContainer {
  margin: 0 40px 0 20px;
  position: relative;
  width: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.neonImage {
  position: relative;
  width: 48px;
  height: 48px;

  svg {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    background: colors.$palette-purple;
    filter: blur(20px);
  }
}

.neonLine {
  background: linear-gradient(180deg, rgba(149, 118, 236, 0.00) 0%, #9576EC 50%, rgba(149, 118, 236, 0.00) 100%);
  width: 4px;
  margin: 24px 0;
  flex-grow: 1;
  border-radius: 20px;
}

.neonLine2 {
  border-radius: 20px;
  background: linear-gradient(180deg, #9576EC 0%, rgba(149, 118, 236, 0.00) 100%);
  width: 4px;
  margin: 24px 0 0;
  flex-grow: 1;
}

.additionalInfoHeader {
  color: colors.$text-primary;
  font-weight: 700;
  position: relative;
  z-index: 4;
  @include typography.t-body-20;
}

.subscribe {
  display: grid;
  grid-template-columns: 1fr 135px;
  gap: 10px;
  margin-top: 8px;
  z-index: 4;
  position: relative;

  input {
    outline: 0;
    height: 44px;
    width: 100%;
    padding-left: 20px;
    color: colors.$text-primary;
    background: #363636;
    border: 1px solid colors.$border-primary;
    @include typography.t-body-18;

    &::placeholder {
      color: colors.$text-secondary;
    }

    &:focus {
      border-color: colors.$text-primary;
    }

    @include media-new.lg {
      height: 60px;
    }
  }
}

.content {
  padding-bottom: 40px;
}

.subscribeContent {
  padding-bottom: 240px;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
