@use "../../../../styles/colors";
@use "../../../../styles/media";
@use "../../../../styles/media-new";
@use "../../../../styles/typography";

.gridWrapper {
  display: grid;
  grid-template-areas: "l l l l . r r r";
  grid-template-columns: repeat(8, 1fr);
  padding-top: 60px;

  @include media.for-desktop {
    grid-template-areas: "l l l l r r r r";
    gap: 60px;
  }

  @include media.for-large-mobile {
    grid-template-areas: "l" "r";
    grid-template-columns: 1fr;
    padding-top: 40px;
    gap: 24px;
  }
}

.bannerText {
  grid-area: l;
}

.bannerForm {
  grid-area: r;
  //display: flex;
  padding-top: 20px;
  position: relative;
  margin-bottom: 60px;
}

.purple {
  color: colors.$palette-purple;
}

.green {
  color: colors.$palette-green;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;

  p {
    color: colors.$text-secondary
  }
}

.mainHeader {
  color: colors.$text-primary;
  font-size: 29px;
  line-height: 44px;
  font-weight: 700;

  margin-bottom: 8px;

  @include media-new.lg {
    @include typography.t-body-48;
  }


  @include media-new.xxl {
    font-size: 58px;
    line-height: 80px;
  }
}

.subheading {
  @include typography.t-body-20;

  color: colors.$text-secondary;
  margin-bottom: 16px;

  @include media.for-laptop {
    @include typography.t-body-16;
  }

  @include media.for-mobile {
    @include typography.t-body-14;
  }
}

.paragraph {
  position: relative;
  z-index: 4;
  margin-top: 8px;
  color: colors.$text-secondary;

  @include typography.t-body-20;

  @include media.for-laptop {
    @include typography.t-body-16;
  }

  @include media.for-mobile {
    @include typography.t-body-14;
  }
}

.whitePaperButtonWrapper {
  width: 176px;
  margin-bottom: 52px;
}

.externalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.blockWithNeonWrapper {
  display: grid;
  grid-template-columns: 108px 1fr;

  @include media.for-tablet {
    grid-template-columns: 32px 1fr;
  }
}

.neonContainer {
  margin: 0 40px 0 20px;
  position: relative;
  width: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.for-tablet {
    margin: 0 8px 0 0;
    width: 32px;
  }
}

.neonImage {
  position: relative;
  width: 48px;
  height: 48px;
  color: #F5FFF9;

  svg {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    background: colors.$palette-purple;
    filter: blur(10px);
  }

  @include media.for-tablet {
    width: 24px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;
    }

    &:before {
      width: 24px;
      height: 24px;
    }
  }
}

.neonLine {
  background: linear-gradient(180deg, rgba(149, 118, 236, 0.00) 0%, #9576EC 50%, rgba(149, 118, 236, 0.00) 100%);
  width: 4px;
  margin: 24px 0;
  flex-grow: 1;
  border-radius: 20px;

  @include media.for-mobile {
    margin: 12px 0;
  }
}

.neonLine2 {
  border-radius: 20px;
  background: linear-gradient(180deg, #9576EC 0%, rgba(149, 118, 236, 0.00) 100%);
  width: 4px;
  margin: 24px 0 0;
  flex-grow: 1;

  @include media.for-mobile {
    margin: 12px 0 0;
  }
}

.additionalInfoHeader {
  color: colors.$text-primary;
  font-weight: 700;
  position: relative;
  z-index: 4;
  @include typography.t-body-20;

  @include media.for-laptop {
    @include typography.t-body-16;
    margin-top: -1px;
  }
}

.subscribe {
  display: grid;
  grid-template-columns: 1fr 135px;
  gap: 10px;
  margin-top: 8px;
  z-index: 4;
  position: relative;

  input {
    outline: 0;
    height: 60px;
    border-radius: 4px;

    width: 100%;
    padding-left: 20px;
    color: colors.$text-primary;
    background: #363636;
    border: 1px solid colors.$border-primary;
    @include typography.t-body-18;
    transition-duration: 0.2s;

    &::placeholder {
      color: colors.$text-secondary;
    }

    &:hover {
      border-color: colors.$text-primary;
    }

    &:focus {
      border-color: colors.$text-primary;
    }

    @include media.for-tablet {
      height: 44px;
      padding-left: 16px;
      @include typography.t-body-16;
    }
  }
}

.content {
  padding-bottom: 40px;

  @include media.for-mobile {
    padding-left: 8px;
  }
}

.subscribeContent {
  padding-bottom: 240px;

  @include media.for-laptop {
    padding-bottom: 70px;
  }

  @include media.for-mobile {
    padding-bottom: 40px;
  }
}

.video {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: -100px;
  z-index: -1;
  transform: translateX(-24px) scale(1.4);
  transform-origin: center;

  video {
    width: 100%;
  }

  //@include media.for-large-desktop {
  //  transform: scale(1.4);
  //  top: 0;
  //}

  @include media.for-laptop {
    transform: translateX(-3%) scale(1.3);
  }

  @include media.for-mobile {
    transform: translateX(-2%) scale(1.1);
  }

  &:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 200px;
    background-color: colors.$background-primary;
    right: -1px;
    bottom: 0;
  }

  &:after {
    position: fixed;
    content: "";
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, #010101 0%, rgba(1, 1, 1, 0.00) 100%);
    top: 80px;
    left: 0;

    @media screen and (max-width: 1500px) {
      display: none;
    }

    @include media.for-large-mobile {
      display: block;
      top: 0px;
      height: 300px;
    }
  }
}

.openInfoBtn {
  background: transparent;
  cursor: pointer;
  color: colors.$text-primary;
  border: 0;
  outline: 0;
  transition-duration: 0.2s;
  height: 1rem;
  padding: 0;
  width: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0, -50%);

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: colors.$palette-green;
  }

  &:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include media.for-mobile {
    svg {
      width: 20px!important;
      height: 20px!important;
    }
  }
}

.infoDialog {
  padding: 40px;
  display: grid;
  gap: 12px;
  @include typography.t-body-18;
  color: colors.$text-primary;
  max-width: 600px;
  width: 100%;

  img {
    width: 100%;
  }

  @include media.for-mobile {
    @include typography.t-body-14;
    padding: 16px;
  }
}

.buttonWrapper {
  position: relative;
  padding-left: 1rem;
}

.keyPointsWrapper {
  h2 {
    @include typography.t-body-20;
    color: colors.$text-primary;
    margin-top: 40px;
    margin-bottom: 16px;

    @include media.for-laptop {
      @include typography.t-body-16;
    }
  }
}

.cardsWrapper {
  display: grid;
  gap: 12px;
}

.keyPointCard {
  padding: 20px;
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 8px;
  border-radius: var(--corner-zero, 0px);
  border-top: 1px solid var(--color-border-border-disabled, #393939);
  border-right: 1px solid var(--color-border-border-disabled, #393939);
  border-bottom: 1px solid var(--color-border-border-disabled, #393939);
  background: var(--color-fill-block, #141316);
  position: relative;

  @include media.for-laptop {
    padding: 16px;
    grid-template-columns: 24px 1fr;
  }

  svg {
    color: colors.$text-primary;
    width: 32px!important;
    height: 32px!important;

    @include media.for-laptop {
      width: 24px !important;
      height: 24px !important;
    }
  }

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    background: var(--gree-purple, linear-gradient(0deg, #3BD171 0%, #9576EC 100%));
    left: 0;
    top: 0;
  }

  h3 {
    color: colors.$text-primary;
    margin-bottom: 12px;
    @include typography.t-body-20;

    @include media.for-laptop {
      @include typography.t-body-16;
    }
  }

  p {
    color: colors.$text-secondary;
    @include typography.t-body-16;

    @include media.for-laptop {
      @include typography.t-body-14;
    }
  }
}

.importantPhrase {
  color: colors.$text-primary;
  font-weight: 500;
}

.buyAnchor {
  position: absolute;
  top: -20px;
}
