@use "../../../styles/colors";
@use "../../../styles/media";
@use "../../../styles/typography";

.button {
  border-radius: 4px;
  padding: 0 24px;
  transition-duration: 0.2s;
  width: 100%;
  border: 0;
  cursor: pointer;


  &.contained {
    background: colors.$palette-green;
    position: relative;
    color: #000000;

    &:after {
      position: absolute;
      content: "";
      opacity: 0;
      height: 100%;
      left: 0;
      bottom: 0;
    }

    &:hover {

      &:after {
        opacity: 1;
      }

      background-color: colors.$palette-green__hover;
      //background: linear-gradient(to bottom, #C2FD3F, #8DBE28);
      //box-shadow: 0px 0px 20px 0px rgba(165, 230, 20, 0.70);
    }

    &[disabled] {
      pointer-events: none;
      //opacity: 0.7;
      color: #B2B2B2;
      border: 1px solid #454545;
      background: #1D1C1E;

      //filter: brightness(1.1);
      //background: #1D1C1E;
      //color: #575757;
    }
  }

  &.outlined {
    color: colors.$text-primary;
    border: 1px solid #F7FFE4;
    background-color: transparent;

    &:hover {
      color: colors.$palette-green__hover;
      border-color: colors.$palette-green__hover;
    }
  }

  &.error {
    color: colors.$text-primary;
    background-color: colors.$palette-red;
    pointer-events: none;
  }

  @include typography.t-body-18;
  height: 60px;

  @include media.for-tablet {
    @include typography.t-body-16;
    height: 44px;
  }
}
