@use "src/styles/colors";
@use "src/styles/typography";

.speedUpTableHeader {
  background: colors.$background-secondary;
  padding: 0 20px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: colors.$text-primary;
  border: 1px solid #393939;
  border-radius: 4px 4px 0 0;
}

.maxFeeLabel {
  display: block;
  text-align: left;
  width: 134px;

  @include typography.t-body-16;
}

.speedUpLabel {
  @include typography.t-body-16;
  background: colors.$background-secondary;
  padding: 0 20px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: colors.$text-primary;
  transition-duration: 0.2s;
  border: 1px solid #393939;
  border-top: 0;

  &.noBorder {
    border-bottom: 0;
  }

  &:hover:not(.active) {
    cursor: pointer;
    background: #272727;

    .indicator {
      border-color: colors.$palette-green;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    ~ .indicator {
      transition-duration: 0.2s;
      width: 24px;
      height: 24px;
      border: 1px solid colors.$border-primary;
      border-radius: 50%;
      display: flex;
      position: relative;

      &:after {
        content: "";
        width: 12px;
        height: 12px;
        background: transparent;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:checked ~ .indicator {
      width: 24px;
      height: 24px;
      border: 1px solid colors.$palette-green;

      &:after {
        background: colors.$palette-green;
      }
    }
  }
}

.speedUpLabelWrapper {
  &:nth-last-of-type(1) .speedUpLabel {
    border-bottom: 0;
  }
}

.speedUpLabelText {
  display: flex;
  align-items: center;
  gap: 8px;
}

.speedUpValue {
  width: 134px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.speedUpContent {
  padding: 40px;
  border-right: 1px solid var(--color-border-border-disabled, #393939);
  border-bottom: 1px solid var(--color-border-border-disabled, #393939);
  border-left: 1px solid var(--color-border-border-disabled, #393939);
  background: var(--color-fill-block, #141316);
}

.customSpeedUpSettingsWrapper {
  background-color: colors.$background-secondary;
  border-radius: 0 0 4px 4px;
  padding: 4px 20px 20px;
  border: 1px solid #393939;
  border-top: 0;

  &.disabled {
    pointer-events: none;
    color: colors.$placeholder;

    input, .inputRightContent {
      color: colors.$placeholder;
    }
  }
}

.customSpeedUpSettings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;


}

.helperText {
  @include typography.t-body-12;
}

.inputWrapper {
  position: relative;
}

.inputRightContent {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: colors.$text-secondary;
  @include typography.t-body-16;
  height: 24px;
  min-width: 24px;
  pointer-events: none;
}

.labelInputWrapper {
  display: grid;
  gap: 4px;

  label {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.metamaskMessageContainer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 600px;

  h3 {
    margin-top: 8px;
    @include typography.t-body-18
  }

  p {
    @include typography.t-body-16;
    color: colors.$text-secondary;
  }
}

.feeError {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: var(--corner-small, 4px);
  border: 1px solid var(--color-main-red, #D13B3B);
  background: var(--color-fill-red-bcg, #1A0D0A);
  margin-top: 16px;

  svg {
    color: colors.$palette-red;
  }
}
