@use "src/styles/colors";
@use "src/styles/typography";

.chart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: absolute;
  bottom: 0;
  width: 100%;
  > div {
    display: flex;
    align-items: flex-end;
    position: relative;
  }
}

.chartWrapper {
  margin-top: 370px;
  height: 10px;
  position: relative;
}

.articleInfo {
  max-width: 646px;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes grow-column-1 {
  from {
    height: 10px;
  }

  to {
    height: 40px;
  }
}

@keyframes grow-column-2 {
  from {
    height: 10px;
  }

  to {
    height: 95px;
  }
}

@keyframes grow-column-3 {
  from {
    height: 10px;
  }

  to {
    height: 95px;
  }
}

@keyframes grow-column-4 {
  from {
    height: 10px;
  }

  to {
    height: 100px;
  }
}

@keyframes grow-column-5 {
  from {
    height: 10px;
  }

  to {
    height: 680px;
  }
}

.chartColumn1, .chartColumn2,
.chartColumn3, .chartColumn4, .chartColumn5 {
  height: 10px;
  position: relative;
}

.chartColumn1 {
  background-color: #C5B1FF;

  &.withAnimation {
    animation: grow-column-1 ease-in-out 1s forwards;
  }
}

.chartColumn2 {
  background-color: #B196FF;

  &.withAnimation {
    animation: grow-column-2 ease-in-out 1s forwards;
  }
}

.chartColumn3 {
  background-color: #946FFF;

  &.withAnimation {
    animation: grow-column-3 ease-in-out 1s forwards;
  }
}

.chartColumn4 {
  background-color: #8358FF;

  &.withAnimation {
    animation: grow-column-4 ease-in-out 1s forwards;
  }
}

.chartColumn5 {
  background-color: #7649F8;

  &.withAnimation {
    animation: grow-column-5 ease-in-out 1s forwards;
  }
}

.labels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.columnLabel {
  display: grid;
}

.percentage {
  position: absolute;
  z-index: 2;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid colors.$border-primary;
  border-top: 1px solid colors.$border-primary;
}

.totalText {
  display: flex;
  flex-direction: column;
}

.text {
  color: colors.$text-secondary;

  @include typography.t-body-20;
}
