@use "src/styles/colors";
@use "src/styles/typography";

.tooltip {
  padding: 8px 16px;
  background-color: colors.$background-secondary;
  color: colors.$text-primary;
  @include typography.t-body-12;
  z-index: 1000;
  border: 1px solid #787b78;
  border-radius: 8px;
}

.tooltipIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
