@use "src/styles/colors";

.aboutTheProject {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.imageWrapper {
  grid-column-start: 1;
  grid-column-end: 4;
}

.textBlock {
  grid-column-start: 7;
  grid-column-end: 13;
  color: colors.$text-primary;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.paragraph {
  font-size: 20px;
  line-height: 40px;
}
