@use "../../../styles/colors";

.featureCard {
  padding: 28px;
  border: 1px solid colors.$border-primary;
  background: var(--color-card, rgba(0, 0, 0, 0.50));
  /* 2 */
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
}
