@use "../../../styles/colors";
@use "../../../styles/typography";
@use "../../../styles/media";

.footer {
  margin-top: 240px;
  border-top: 1px solid colors.$border-primary;
  background-color: colors.$background-primary;

  @include media.for-mobile {
    margin-top: 120px;
  }
}

.bottomFooter {
  border-top: 1px solid colors.$border-primary;
}

.bottomFooterContent {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;

  @include media.for-laptop {
    flex-direction: column;
    padding: 24px 0 16px;
    gap: 16px;
  }
}

.footerLinks {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;

  @include media.for-laptop {
    flex-direction: column;
    gap: 32px;
  }

  @include media.for-mobile {
    flex-direction: column;
    gap: 24px;
  }
}

.leftLinks {
  display: flex;
  gap: 160px;

  @include media.for-desktop {
    gap: 80px;
  }

  @include media.for-mobile {
    flex-direction: column;
    gap: 24px;
  }
}

.footerLinkGroupTitle {
  color: colors.$text-secondary;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
}

.footerLinkInvisible {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  color: transparent;
  pointer-events: none;
}

.footerLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  color: colors.$text-primary;
  transition-duration: 0.2s;

  &:hover {
    color: colors.$palette-green;
  }
}

.linkColumn {
  display: grid;
  gap: 12px;
}

.rightLinks {
  text-align: right;

}

.address {
  font-size: 16px;
  line-height: 28px;
  color: colors.$text-primary;

  &:hover {
    text-decoration: underline;
  }
}

.dedicatedMediaInfo {
  border-radius: 4px;
  background: colors.$background-secondary;
  padding: 6px 12px;
  color: colors.$text-primary;
  display: flex;
  gap: 4px;
  text-align: left;
  border-right: 4px solid colors.$palette-green;

  @include typography.t-body-16;
}

.dedicatedIcon {
  display: block;
  height: 24px;
  padding-top: 2px;
}

.cpr {
  color: colors.$text-secondary;
  text-align: right;
  @include typography.t-body-16;

  @include media.for-laptop {
    text-align: left;
    @include typography.t-body-12;
    br {
      display: none;
    }
  }
}
