@use "../../../styles/colors";
@use "src/styles/media";

.articleHeading {
  margin-bottom: 24px;
  margin-top: -16px;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: colors.$text-primary;

  @include media.for-tablet {
    font-size: 28px;
    line-height: 44px;
    margin-top: 4px;
    margin-bottom: 12px;
  }
}
