@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: theme("colors.global-bg");
    color: theme("colors.primary-text");
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus,
div[role="button"]:focus,
div[role="dialog"]:focus {
    outline: none;
}

